.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.moving-container {
  position: relative;
  width: 100%;
  padding: 10px;
  height: fit-content;
  margin-top: 20px;
}
